npm-debug.log
_gh_pages
_site
_drafts
.jekyll-metadata
.sass-cache
.ruby-version
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea
*.komodoproject
.komodotools
validation-status.json
validation-report.json
node_modules
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
