<!-- Comments
================================================== -->
{% if page.comments != false %} 
<div class="comments mt-5">
    <button class="btn btn-outline-dark py-2 px-5 d-block w-100 show-comments">&nbsp; Cargar comentarios <i class="fa-solid fa-comments"></i></button>         
    <div id="comments">  
        <h4 class="mb-4">Comentarios <i class="fa-solid fa-comments"></i></h4>                 
            {% include disqus.html %}     
    <div class="clearfix"></div>              
    </div>    
</div>       
{% endif %}