<script type="text/javascript" id="cookieinfo"
  src="/js/cookieinfo.min.js"
  data-bg="#222"
	data-fg="#FFFFFF"
	data-link="#C94A53"
  data-divlinkbg="#C94A53"
  data-divlink="#FFFFFF"
  data-font-family="'Ubuntu', 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif"
	data-cookie="CookieInfoScript"
  data-moreinfo="https://es.wikipedia.org/wiki/Cookie_(informática)"
  data-expires="Sun, 31 Dec 2020 23:59:59 GMT"
	data-text-align="left"
  data-message="Esta web utiliza cookies para ofrecerte una mejor experiencia como usuario. Si continuas navegando, aceptas su uso."
  data-linkmsg="[+ Info]"
  data-close-text="Acepto">
</script>
