<div class="wrapper">
    <a href="http://es.linkedin.com/in/{{ site.rrss.lk }}/" alt="¡Mi perfil en Linked-in!" target="_blank" class="icon linkedin">
        <div class="tooltip">Linked</div>
        <span><i class="fab fa-linkedin"></i></span>
      </a>
  <a href="https://twitter.com/{{ site.rrss.tw }}/" alt="¡Mi perfil en Twitter!" target="_blank" class="icon twitter">
    <div class="tooltip">Twitter</div>
    <span><i class="fab fa-twitter"></i></span>
  </a>
  <a href="https://github.com/{{ site.rrss.gh }}/" alt="¡Mi perfil en Github!" target="_blank" class="icon github">
    <div class="tooltip">Github</div>
    <span><i class="fab fa-github"></i></span>
  </a>
  <a href="https://www.youtube.com/{{ site.rrss.yt }}/" alt="¡Mi canal en YouTube!" target="_blank" class="icon youtube">
    <div class="tooltip">Youtube</div>
    <span><i class="fab fa-youtube"></i></span>
  </a>
</div>