.tr_title {
  background-color: #C94A53;
  color: #f4f4f4;
}
.tr_title_bl {
  background-color: #222;
  color: #f4f4f4;
}
.tr_title_center {
  background-color: #C94A53;
  color: #f4f4f4;
  text-align: center;
}
.table {
  border:2px solid #ddd;
}
.td_caption {
  vertical-align: middle;
}
.td_caption_center{
  vertical-align: middle;
  text-align: center;
}
.noborder {
  border: none;
}